.mobile-full-page-modal {
  width: 100%;
  height: calc(100vh - 46px);
  z-index: 150;
  position: fixed;
  top: 0;
  //   overflow-y: scroll;
  background-color: $page-white;
  > .content-area {
    flex-grow: 1;
    overflow-y: auto;
    /* Scroll-bar: */
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .modal-header {
    .title {
      font-weight: 600;
    }
  }
}

.comments-modal-mobile .content-area {
  overflow-y: hidden;
}
