// COLOR PALETTE
$page-background: #fafafa;
$page-white: #ffffff;
$border-grey: #dbdbdb;
$weak-border-grey: #efefef;
$gery: #a7a9ac;
$strong-grey-font: #262626;
$weak-grey-font: #8e8e8e;
$blue-primary: #0095f6;

// LAYOUT BREAKPOINTS
$break-narrow: 620px;
$break-normal: 735px;
$break-wide: 1050px;
